# Session files
*.session
alpha_session
bybit_session

# # Config files (không đẩy config thật)
# config/telegram_*.json

# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# CSV outputs (tuỳ chọn)
*.csv

# IDE
.vscode/
.idea/